<!DOCTYPE HTML>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <title>4Cash</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
</head>
<body>
<div class="container">
    <h1>Erro 500</h1>
    Identificamos um erro interno no servidor.
    <br>
    <pre>
        <b>Mensagem de Erro: </b><%= message %><hr>
        <b>Erro: </b><%= error %>
    </pre>
</div>
</body>

<script src="jquery/dist/jquery.min.js"></script>
<script src="bootstrap/dist/js/bootstrap.js"></script>
</html>